# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/
.venv/
Include/
Lib/
Scripts/
pyvenv.cfg

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Build
build/
dist/
*.spec

logs.md
*.log
test_input
